<style>
.infowindowbar {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap; /* Keep items in a single line for horizontal scrolling */
}

.infowindowbar::-webkit-scrollbar {
  height: 8px; /* Adjust the height of horizontal scrollbar */
}

.infowindowbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey track */
}

.infowindowbar::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey thumb */
}

.infowindowbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker grey on hover */
}

.info-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; /* Prevents items from wrapping to a new line */
  padding: 10px 0;
}

.info-item {
  display: inline-block;
  width: 156px; /* Fixed width */
  text-align: center;
  vertical-align: top;
  margin-right: 5px; /* Adjust or remove margin as needed for your layout */
  transition: box-shadow 0.3s;
}

.info-item img {
  width: 156px; /* Force the image to be exactly 156px wide */
  height: auto; /* Maintain aspect ratio */
}

.info-item h4 {
  font-size: 14px; /* Adjust font size as needed */
  color: black;
  margin-top: 2px; /* Minimize margin */
  margin-bottom: 2px; /* Ensure no padding is adding extra space */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Ensures text does not wrap */
  width: 156px; /* Fixed width to match the container */
  line-height: 1.3; /* Adjust line height to control spacing within the h4 element */
  font-family: Calibri, 'Trebuchet MS', sans-serif; /* Set font-family */
}

/* Hide description to maintain fixed sizing */
.info-item p {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
  </style>
